.card {

    font-family: 'Caveat Brush';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
    border: solid 1px rgb(57, 3, 68);
}

button {

    width: 100px;
    height: 30px;
    margin-top: 20px;
    font-family: 'Caveat Brush';
    background-color: rgb(69, 179, 253);
    border: solid 2px rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 100px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}